section{
    align-items: center;
    min-height: 80vh;
}
.content {
    width: 100%;
    min-height: 58vh;
    background-color: rgb(133, 133, 212);
}

.acc-days{
    width:100%;
}


.pg-title{
    // margin-top: 5.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #282c30  !important;
    // color: #c0be29  !important;
    // background-color: #5500C9 !important;
    // background-color: #FFF !important;
    background-color: #e2e2e2 !important;
 }

 .clean{
    width:100%;
    margin-top: 2rem;
    display: flex;
    justify-content: end;

    .btn-clean{
        margin-right: 5px;
    }
 }



//  @media screen and (min-width: 600px) and (max-width: 1120px) {
    @media screen and (min-width: 541px) and (max-width: 810px) {
    .acc-days{
        width:80%;
    }
    .clean{
        width:80%;
    }
 }

//  @media screen and (min-width: 1121px) {
    @media screen and (min-width: 811px) {
    .acc-days{
        width:70%;
    } 

    .clean{
        width:70%;
    }
 }